<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">


<beans>
    <bean id="blogService" class="com.madalla.service.blog.BlogService" lazy-init="true">
        <property name="contentService" ref="contentService"/>
    </bean>

    <bean id="blogDao" class="com.madalla.dao.blog.JdbcBlogDao" init-method="init" lazy-init="true">
        <property name="dataSource" ref="dataSource"/>
        <property name="site" value="${site.code}"/>
    </bean>
    
</beans>