<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<bean id="emailSender" class="com.madalla.email.SimpleEmailSender">
    	<property name="emailHost" value="env{email.host}"/>
    	<property name="emailFromName" value="env{email.from.name}"/>
    	<property name="emailFromEmail" value="env{email.from.email}"/>
    	<property name="emailToName" value="env{email.to.name}"/>
    	<property name="emailToEmail" value="env{email.to.email}"/>
    	<property name="mailAuthName" value="env{mail.auth.name}"/>
    	<property name="mailAuthPassword" value="env{mail.auth.password}"/>
	</bean>

</beans>



