<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<bean id="emailSender" class="com.madalla.email.SimpleEmailSender">
    	<property name="emailHost" value="${email.host}"/>
    	<property name="emailFromName" value="${email.from.name}"/>
    	<property name="emailFromEmail" value="${email.from.email}"/>
    	<property name="emailToName" value="${email.to.name}"/>
    	<property name="emailToEmail" value="${email.to.email}"/>
    	<property name="mailAuthName" value="${mail.auth.name}"/>
    	<property name="mailAuthPassword" value="${mail.auth.password}"/>
	</bean>

</beans>



