# Lines starting with '#' are considered comments.
# Ignore these directories
target/
repository/
database/
bin/
# ignored files
derby.log
src/build.properties
#ignore backup files left from editors
*~/pom.xml

/.settings
/.classpath
/.settings
/.project

