<html xmlns:wicket>
<wicket:head>
    <style type="text/css">
        
        
        form.signInForm  span.feedbackPanel, form.resetForm  span.feedbackPanel{
            margin-top: 0;
        }
        
        form.signInForm {
           height: 9em;
        }
        
    </style>
</wicket:head>
<body>
    <wicket:panel>
        <div>
                <p wicket:id="loginInfo" class=info>[label]</p>

                <div id="navLinks">
                    <a wicket:id="logout" href="#"><wicket:message key="label.logout">[label]</wicket:message></a>
                </div>
                
                <form class="signInForm floatDiv" wicket:id="signInForm">
                
                  <fieldset>
                    <div>
                        <label><wicket:message key="label.username">Label Contents</wicket:message></label>
                        <input class="inputText" wicket:id="username" type="text" />
                    </div>
                    <div>
                        <label><wicket:message key="label.password">Label Contents</wicket:message></label>
                        <input class="inputText" wicket:id="password" type="password" value="password" />
                    </div>
                  </fieldset>
                    <div class="submit">
                        <input type="submit" class="button" wicket:id="submitLink" title="Login to Croptrak">
                        <span class="feedbackPanel" wicket:id="loginFeedback"></span>
                    </div>
                
                
                </form>
                
                <form class="resetForm floatDiv" wicket:id="resetForm">
                    <fieldset>
                        <div>
                            <p class="info"><wicket:message key="info.reset"></wicket:message></p>
                        </div>
                        <div>
                            <label for="memberId">
                                <wicket:message key="label.memberId">[label]</wicket:message>
                            </label>
                            <input id="memberId" class="inputText" wicket:id="memberId" type="text" />
                        </div>
                    </fieldset>
                    <div class="submit">
                        <input type="submit" class="button" wicket:id="submitLink" title="Reset password">
                        <span class="feedbackPanel" wicket:id="resetFeedback"></span>
                    </div>
                </form>
    
        </div>

    </wicket:panel>
</body>
</html>
