<html xmlns:wicket>
<wicket:head>
    <style type="text/css">
        
    </style>
</wicket:head>
<body>
    <wicket:panel>
        <div>
                <p wicket:id="loginInfo" class=info>[label]</p>

                <div id="navLinks">
                    <a wicket:id="logout" href="#"><wicket:message key="label.logout">[label]</wicket:message></a>
                </div>
                
                <span wicket:id="signInPanel"></span>
                
                <form class="resetForm floatDiv" wicket:id="resetForm">
                    <fieldset>
                        <div>
                            <label for="memberId">
                                <wicket:message key="label.memberId">[label]</wicket:message>
                            </label>
                            <input id="memberId" class="inputText" wicket:id="memberId" type="text" />
                        </div>
                    </fieldset>
                    <div class="submit">
                        <input type="submit" class="button" wicket:id="submitLink">
                        <span class="feedbackPanel" wicket:id="resetFeedback"></span>
                    </div>
                </form>
    
        </div>

    </wicket:panel>
</body>
</html>
