<html xmlns:wicket>
<wicket:head>
    <style type="text/css">
    
     
     
              

    </style>
</wicket:head>
<body>
    <wicket:panel>
        
        <div id="link">
              <a href="#" wicket:id="adminLink"><wicket:message key="label.albumAdmin">Label Contents</wicket:message></a>
        </div>  
        
        <div wicket:id="imagesPanel"></div>
        
        <wicket:fragment wicket:id="loading">
            <div wicket:id="container" class="imageWrapper">
                <div class="border" wicket:id="image">
                </div>
            </div>
        </wicket:fragment>
    
    </wicket:panel>
</body>
</html>