.bannerControls {
        position: absolute;
        left: 8%;
        bottom: 4%;
    }

.bannerControl {
         z-index: 100;
         cursor: pointer;
         margin-right: 10px;
         color: #DCDCDC;    
         fontSize: 14px;  
         font-weight: normal;
         -moz-user-select:none;
     }


     .defaultBannerControl { 
         color: #DCDCDC;    
         font-weight: normal;
     }
     .activeBannerControl {
         color: #808080;
         font-weight: bold;
     }

    .banner {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        width: 470px; height: 345px; /* 20 px more than image */
    }
    .banner li{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFF;
        visibility: hidden;
    }
    .bannerImage{ width: 450px; height: 325px;}
