<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

<import resource="classpath:com/madalla/cms/service/ocm/applicationContext-cms.xml"/>
<import resource="classpath:com/madalla/email/applicationContext-email.xml"/>
<import resource="classpath:com/madalla/cms/jcr/applicationContext-jcr.xml"/>
<import resource="classpath:com/madalla/db/dao/applicationContext-dao.xml"/>

<bean id="propertyConfigurerDefault" 
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="placeholderPrefix" value="#["/>
    <property name="placeholderSuffix" value="]"/>    
    <property name="locations">
        <list>
            <value>classpath:build.properties</value>
        </list>
    </property>
</bean>

<bean id="overrideConfigurer"  class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
    <property name="location">
        <value>classpath:override.properties</value>
    </property>
    <property name="ignoreResourceNotFound" value="true"/>
</bean>

<bean id="environmentsetup" class="com.madalla.webapp.EnvironmentSetup" init-method="init">
    <property name="configType" value="${wicket.configuration}"></property>
    <property name="site" value="${site.code}"></property>
    <property name="logfile" value="${logfile}"></property>
</bean>

<bean id="buildInformation" class="com.madalla.BuildInformation">
    <property name="webappVersion" value="${appversion}"></property>
	<property name="version" value="#[application.version]"></property>
</bean>

<bean abstract="true" id="wicketApplicationParent" class="com.madalla.webapp.CmsApplication">
    <property name="repositoryService" ref="dataService"/>
    <property name="repositoryAdminService" ref="repositoryAdminService"/>
    <property name="emailSender" ref="emailSender"/>
    <property name="buildInformation" ref="buildInformation"></property>
    <property name="configType" value="${wicket.configuration}"></property>
</bean>


</beans>