<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/util 
       http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:component-scan base-package="com.madalla.db" />

	<import resource="classpath:org/emalan/cms/applicationContext-cms.xml" />
	<import resource="classpath:com/madalla/email/applicationContext-email.xml" />
	<import resource="classpath:com/madalla/db/dao/applicationContext-dao.xml" />

	<bean id="propertyConfigurer" abstract="true"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="systemPropertiesMode" value="2" />
		<property name="locations">
			<list>
				<value>classpath:ecshare.properties</value>
			</list>
		</property>

	</bean>

	<bean id="propertyConfigurerDefault"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="placeholderPrefix" value="#[" />
		<property name="placeholderSuffix" value="]" />
		<property name="locations">
			<list>
				<value>classpath:build.properties</value>
			</list>
		</property>
	</bean>

	<bean id="buildInformation" class="com.madalla.BuildInformation">
		<property name="webappVersion" value="${appversion}"></property>
		<property name="version" value="#[application.version]"></property>
	</bean>

	<bean id="authenticatorMember" class="com.madalla.webapp.security.PasswordAuthenticator"
		scope="singleton">
	</bean>

	<bean id="transactionService" class="com.madalla.db.dao.hbm.TransactionLogHbmDao" />

	<bean id="memberService" class="com.madalla.member.MemberService"
		scope="singleton">
		<property name="memberDao" ref="memberSpringDao" />
		<property name="authenticator" ref="authenticatorMember" />
	</bean>

	<bean id="authenticatorUser" class="com.madalla.webapp.security.PasswordAuthenticator"
		scope="singleton">
	</bean>

	<bean id="userSecurityService" class="com.madalla.service.user.UserSecurityService"
		scope="singleton" init-method="init">
		<property name="site" value="${site.code}" />
		<property name="dataService" ref="dataService" />
		<property name="authenticator" ref="authenticatorUser" />
		<property name="securityType" value="${site.security}" />
	</bean>

	<bean id="explorerService" class="com.madalla.jcr.explorer.ExplorerService">
		<property name="repositoryAdminService" ref="repositoryAdminService" />
		<property name="template" ref="jcrTemplate" />
	</bean>

	<bean id="applicationService" class="com.madalla.service.ApplicationServiceImpl" />

	<bean abstract="true" id="wicketApplicationParent" class="com.madalla.webapp.CmsApplication">
		<property name="applicationService" ref="applicationService" />
		<property name="configType" value="${wicket.configuration}" />
		<property name="http" value="${port.http}" />
	</bean>

</beans>