span.configure, div.configure{
	height:1.3em;
	background-image: url(image/configure.png);
	background-repeat: no-repeat;
	width: 18px;
}

span.configure:hover, div.configure:hover {
	/*background-image: url(image/configure.png);*/
	cursor: pointer;
	
}

.editing span.configure, .editing div.configure  {
	background-image: url(image/closepanel.png);
}


div.edit-wrapper, span.edit-wrapper {
	height:1.3em;
	background-image: url(image/downarrow.png);
	background-repeat: no-repeat;
	width: 18px;
	text-indent: -9000px;
	float:left;
}

div.edit-wrapper a.edit-menu, span.edit-wrapper a.edit-menu {
	float: left;
	background-image: url(image/icons.gif);
	background-repeat: no-repeat;
	margin: 0;
	width: 26px;
	text-indent: -9000px;
}

a.edit-menu {
	background-position: 0 -788px;
}

a.edit-menu:hover {
	background-position: 0 -854px;
}

.editing a.edit-menu {
	background-position: 0 -920px;
}