
body {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#doc {
    border-left: 1px solid #AFBFD8;
    border-right:1px solid #AFBFD8;
}

/* Header */
#hd {
    background-color: #FFFFFF;
    color:#444444;
}

#hd h1{ 
    
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    font-weight: bold;
    font-size: 189%;
    font-stretch: wider;
    float:left;
    width: 40%;
}

#hd span.version, #hd span.versionLabel {
    float: left;
    margin-top: 1.9em;
    color: blue;
}

#hd span.version { 
    padding-left: 4px;
    padding-right: 20px;
}

#ft {
    background-color: #FFFFFF;
    border-top: thin dotted grey;
    color : #AAAAAA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.msg {
    text-align: center;
    margin: 0 0 5px 0;
}

.msg .message_box {
     border: 1px solid #FFCC35;
     color:#000000;
     font-weight: bold;
     display: inline;
}

#noscript_box {
   background-color: #FAD163;
}

/* =Body
-----------------------------------------------------------------------------*/
#bd {
    border-top: 1px solid #AACCEE;
    margin-top: 0.5em;
}

div.adminSection {
    margin: 15px 0 0 10px;
}

h2{
	color: blue; 
	font-size: 138.5%;
}

h3 {
	color:blue;
	font-size: 116%;
	font-weight: bold;
}

p.info {
    color: blue;
}

/* =Links
----------------------------------------------------------------------------*/
a {
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    color: #1F75CC;
    text-decoration: none;
    outline: medium none;
}
a:hover {
    text-decoration: underline;
}

/* =menu
-----------------------------------------------------------------------------*/
#control {
    float: left; 
    width: 100%;
    padding-bottom: 0.5em;
}
ul.menu {
}

ul.menu li {
    list-style: none;
}

ul.menu li span {
}

ul.menu li a {
    text-decoration: none;
    outline: medium none;
}
    
ul.menu li a:hover {
    text-decoration: underline;
}

ul.menu li a, ul.menu li span{
    padding-top: 5px;
    display: block;
}

ul.menu li span {
    color: #777777;
}

ul.menu li a {
    color: #1F75CC;
}

/* =box
-----------------------------------------------------------------------------*/
div.box {
    background-color: #E9F4FF;
    border: 1px solid #AACCEE;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
}
div.box-plain {
    background-color: #E9F4FF;
    border-left: 1px solid #AACCEE;
    border-right: 1px solid #AACCEE;
    border-bottom: 1px solid #AACCEE;
    height: 30em;
}
div.box-topright {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}
div.box-topleft{
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}
div.box-bottomright {
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.box-bottomleft{
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* =Navigator
----------------------------------------------------------------------------*/
.navigator span {color: #777777;}
.navigator a span {color: #1F75CC;}
.navigator a:hover {text-decoration: none;}

/* =Table
----------------------------------------------------------------------------*/
td, th {
    border: none;
}

table.dataview {
	border-bottom:1px solid #0079D6;
	font-family:arial;
	font-size:1em;
	margin-bottom:10px;
}

table.dataview caption {
	text-align:left;
}

table.dataview tr {
	padding-bottom:2px;
	padding-top:2px;
}

table.dataview tr.even {
	background-color:#FFEBCD;
}
table.dataview tr.odd {
	background-color:#FFFFFF;
}

table.dataview tr.selected {
    background-color:#80b6ed;
}

table.dataview tr td {
	padding-left:8px;
	padding-right:30px;
}

table.dataview tr th {
	background-color:#C1E4FF;
	border-bottom:1px solid #0079D6;
	border-top:1px solid #0079D6;
	color:black;
	padding:3px 30px 3px 8px;
	text-align:left;
	vertical-align:middle;
	white-space:nowrap;
}
table.dataview tr th {
	background-position:right center;
	background-repeat:no-repeat;
}
table.dataview tr th.wicket_orderDown {
	background-color:#87CBFF;
	background-image:url(sort_decrease.png);
}
table.dataview tr th.wicket_orderUp {
	background-color:#87CBFF;
	background-image:url(sort_incr.png);
}
table.dataview tr th.wicket_orderDown_n {
	background-color:#87CBFF;
	background-image:url(move_task_down.png);
}
table.dataview tr th.wicket_orderUp_n {
	background-color:#87CBFF;
	background-image:url(move_task_up.png);
}
table.dataview tr th.wicket_orderNone_n {
	background-image:url(arrow_off.png);
}
table.dataview tr th a {
	font-weight:normal;
}
table.dataview #message {
	padding-left:3px;
}
table.dataview caption {
	padding-bottom:2px;
}

