/* =General
-----------------------------------------------------------------------------*/

/* Zero down margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
}

body {
    background-color:#FFFFFF;
    text-align: center; 
    min-width: 760px;
}

body {
    font-size: 62.5%;
    font-family:"Trebuchet MS",Verdana,Arial,Sans-serif;
}

/* =Layout
----------------------------------------------------------------------------*/
/*****************
* Fixed width : px
* Liquid width : %
* Elastic width : em
****************/
#wrapper {
  width: 72em;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
#border {
	float: left;
    width: 72em;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}
.border {
    border-left: 1px solid #AFBFD8;
    border-right:1px solid #AFBFD8;
}

/* =Elements
----------------------------------------------------------------------------*/
a:link { }
a:visited { color:#551a8b;}
a:hover{color:#000099;}
a:active { color:#ff0000; }

/* =Headings
-----------------------------------------------------------------------------*/
div.adminSection {
    clear:both; 
    float:left;
    margin: 15px 0 0 10px;
}

span.adminHeading {
	clear:both; 
	float: left; 
	color: blue; 
	font-size: large;
}

p.info {
    color: blue;
}


