/* =General
-----------------------------------------------------------------------------*/

/* Zero down margin and padding on all elements */
* {
  margin: 0;
  padding: 0;
}

body {
    background-color:#FFFFFF;
    text-align: center; 
    min-width: 760px;
}

body {
    font-size: 62.5%;
    font-family:"Trebuchet MS",Verdana,Arial,Sans-serif;
}

/* =Layout
----------------------------------------------------------------------------*/
/*****************
* Fixed width : px
* Liquid width : %
* Elastic width : em
****************/
#wrapper {
  width: 72em;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}
#border {
	float: left;
    width: 72em;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
}
.border {
    border-left: 1px solid #AFBFD8;
    border-right:1px solid #AFBFD8;
}

/* =Elements
----------------------------------------------------------------------------*/
a:link { }
a:visited { color:#551a8b;}
a:hover{color:#000099;}
a:active { color:#ff0000; }

/* =Headings
-----------------------------------------------------------------------------*/
div.adminSection {
    clear:both; 
    float:left;
    margin: 15px 0 0 10px;
}

span.adminHeading {
	clear:both; 
	float: left; 
	color: blue; 
	font-size: large;
}

/* =Form
-----------------------------------------------------------------------------*/

form div {
  float:left;
  clear:both;
}

form div label {
  float: left;
  left: 0;  
  font-size: 12px; 
  padding-top: 10px; padding-right: 10px; padding-left: 5px;
}

form input.inputError {
    background-color:#F6BCBC;
    border:1px solid #990000;
    color:#990000;
}

form input {
	float: left;
    margin: 10px 0 0 0;
    font-family: verdana,arial,helvetica,sans; font-size: 11px;
    border: 1px solid #8E8E8E;
}

form div .buttonwrapper {
	float: left;
	margin-bottom:15px;
    margin-top:15px;
}

.button {
    border-style:solid; 
    border-width: 1px 4px 4px 1px; 
    text-decoration: none; 
    padding: 4px;
    background-color: #F7AE30; 
    border-color : #F7AE30 #DF9C29 #DF9C29 #F7AE30;
}

form select {
	float: left;
	margin:10px 0 0;
    border: 1px solid #8E8E8E; color:#2B5E2C; background-color:#FFFFFF; 
    font-family: verdana,arial,helvetica,sans; font-size: 11px;
}

textarea {
  margin: 10px 0 0 0;
  border: 1px solid #8E8E8E; color:#2B5E2C; background-color:#FFFFFF; 
  font-family: verdana,arial,helvetica,sans; font-size: 11px;
}

form div .feedbackPanel {
	float: left;
	margin-top: 10px;
}

.feedbackPanel ul li {
    font-style:normal;
    list-style-image:none;
    list-style-position: inside;
    list-style-type: none;
    padding-left:1em;
    padding-top:10px;
    text-indent:0pt;
    float: left;
    clear: both;
}

.feedbackPanelERROR {
    color:red;
}
.feedbackPanelWARNING {
    color:orange;
}
.feedbackPanelINFO {
    color:blue;
}

