<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
    
    <bean id="propertyConfigurer" 
    	class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    	<property name="locations">
    		<list>
        		<value>classpath:com/madalla/webapp/test.properties</value>
        	</list>
        </property>
	
	</bean>
	
	<bean id="emailEntryDao" class="com.madalla.db.dao.EmailEntryDao">
        <property name="dataSource" ref="dataSource"/>
        <property name="site" value="${site.code}"/>
    </bean>
    
    <bean id="dataSource"
    	class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.apache.derby.jdbc.EmbeddedDriver</value>
		</property>
		<property name="url" value="jdbc:derby:database;create=true"/>
	</bean>

   <bean id="databaseSetup" class="com.madalla.db.setup.JdbcDatabaseSetup" init-method="init">
    	<property name="dataSource" ref="dataSource"/>
    	<property name="schema">
    		<value>classpath:com/madalla/db/setup/db-schema.xml</value>
    	</property>
    </bean>
    
</beans>