/* =Form
-----------------------------------------------------------------------------*/

form div {
  float:left;
  clear:both;
}

form div label {
  float: left;
  left: 0;  
  font-size: 93%; 
  padding-top: 10px; padding-right: 10px; padding-left: 5px;
}

form input {
	float: left;
    margin: 10px 0 0 0;
    font-family: verdana,arial,helvetica,sans; font-size: 85%;
    border: 1px solid #8E8E8E;
    color: #444444;
}

form input[type="file"] {
	
}

form div .buttonwrapper {
	float: left;
    margin-top:15px;
}

.button {
    border-style:solid; 
    border-width: 1px 4px 4px 1px; 
    text-decoration: none; 
    padding: 4px;
    background-color: #F7AE30; 
    border-color : #F7AE30 #DF9C29 #DF9C29 #F7AE30;
}

form select {
	float: left;
	margin:10px 0 0;
    border: 1px solid #8E8E8E; 
    color: #444444; 
    background-color:#FFFFFF; 
    font-family: verdana,arial,helvetica,sans; font-size: 85%;
}

textarea {
  margin: 10px 0 0 0;
  border: 1px solid #8E8E8E; color:#2B5E2C; background-color:#FFFFFF; 
  font-family: verdana,arial,helvetica,sans; font-size: 85%;
}

/* FeedbackPanel style */
form div .feedbackPanel {
	float: left;
	margin-top: 0.4em;
}
ul.feedbackPanel{
    margin:0;
}
.feedbackPanel li {
    font-style:normal;
    list-style-image:none;
    list-style-position: inside;
    list-style-type: none;
    padding-left:1em;
/*    padding-top:10px; */
    text-indent:0pt;
    float: left;
    clear: both;
}

.feedbackPanelERROR {
    color:red;
}
.feedbackPanelWARNING {
    color:orange;
}
.feedbackPanelINFO {
    color:blue;
}

form .feedbackPanelERROR {
    color:red;
    font-style: italic;
}

form .feedbackPanelINFO {
    color: blue;
    font-style: italic;
}

/* The classes : inputError & inputValid will enable extra visual styling */
form input.inputError {
    background-color:#F6BCBC;
    border:1px solid #990000;
    color:#990000;
}

form div.inputValid span.feedbackPanel{
    background-image: url("image/inputValid.gif");
    background-position: left bottom;
    background-repeat: no-repeat;
}
form div.inputValid span.feedbackPanel span.feedbackPanelINFO{
    padding-left: 10px;
}

form .info {
	color: blue;
	font-size: x-small;
	margin: 0;
}

form .message {
	color: orange;
	font-size: x-small;
	margin: 0;	
}