<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		"http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="emailEntryDao" class="com.madalla.db.dao.EmailEntryDao">
        <property name="site" value="${site.code}"/>
    </bean>
    
    <bean id="transactionLogDao" class="com.madalla.db.dao.TransactionLogDao">
        <property name="site" value="${site.code}"/>
    </bean>
    
    <bean id="memberDao" class="com.madalla.db.dao.MemberDao">
        <property name="site" value="${site.code}"/>
    </bean>
    
</beans>