    .banner {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        
    }
    .banner li{
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        list-style: none outside none;
    }